In [1]:
import pandas as pd

In [2]:
pd.read_json('./final_datasets/export_commodities_by_air.json')

,"Essential oils and resinoids,perfumery","Fish and Crustaceans,Mollassesand other Aquatic invertebrates","Footwear,Guiters and Parts of such articles",Organic Chemicals,"Other made up textiles articles sets worn clothing,worn textiles articles",Pharmaceutical Products,"Raw Hides,Skins and leather","Vehicles other than Tramway,rolling stock and parts and accessories thereof"
Austria,0,0,28,0,0,0,0,0
China,38,0,0,53,0,5,34,0
Finland,0,0,11,0,0,0,0,0
France,0,0,100,0,6,0,8,0
Germany,0,0,161,31,6,15,42,9
Hong Kong,0,20,0,0,0,0,364,0
Hungary,0,0,25,0,0,0,0,0
Indonesia,0,0,0,0,0,0,8,0
Italy,0,0,228,15,0,5,39,0
Japan,0,0,0,0,5,0,9,0
South Korea,16,0,0,20,0,0,40,0
Netherlands,0,0,13,0,0,0,0,0
Other Countries,80,28,129,127,18,95,47,25
Portugal,0,0,56,0,0,0,0,0
Singapore,0,36,0,34,0,0,0,0
Spain,0,0,58,0,0,0,13,0
Switzerland,0,0,40,0,0,0,0,0
Thailand,0,0,34,0,0,0,0,0
Turkey,0,0,0,21,0,0,0,0
United Kingdom,0,0,128,10,10,0,0,6
United States,0,0,47,53,36,179,10,16
Vietnam,0,0,0,0,0,0,63,0

In [3]:
pd.read_json('./final_datasets/export_commodities_by_sea.json')

,Cotton,"Fish and Crustaceans,Molasses and other Acquatic invertibrates","Footwear,guiter and parts of such articles",Iron and Steel,Organic Chemicals,Pharmaceutical Products,Plastic and Articles there of,"Raw hides,skins and leather",Rubber and articles there of,"Salt,Sulphur,Plastering Materials,Lime and Cement",Tobacco and manufactured tobacco substitutes,"Vehicles other than Railway,Tramway,Rolling Stock and parts and accessories there of"
Algeria,0,0,0,0,0,0,0,0,0,0,0,386
Argentina,0,0,0,0,12,0,0,0,0,0,0,120
Australia,0,21,13,0,0,51,13,0,32,0,40,30
Austria,0,0,0,0,0,0,0,0,0,0,0,64
Bahrain,26,0,0,0,0,0,0,0,0,0,0,0
Belgium,0,153,25,0,13,0,12,0,0,24,256,63
Brazil,14,0,0,0,44,72,0,0,10,0,16,0
Canada,0,75,12,0,11,0,0,0,0,13,0,0
China,121,0,0,12,13,0,14,13,0,341,0,21
Colombia,13,0,0,0,13,0,0,0,0,0,0,251
Czech Republic,0,0,0,0,0,0,0,0,0,0,0,77
Denmark,0,0,0,0,0,0,35,0,0,0,0,46
Egypt,14,0,0,0,0,0,0,0,20,0,42,140
Finland,0,0,0,0,0,0,0,0,0,0,0,49
France,0,25,56,14,0,0,0,22,0,0,21,128
Germany,14,53,255,0,44,16,0,31,12,16,115,224
Greece,0,0,0,0,0,0,0,0,0,0,0,228
Hong Kong,25,0,13,0,29,0,16,220,0,112,0,0
Indonesia,18,0,0,53,25,0,0,0,18,0,26,23
Iran,0,0,0,0,12,0,14,0,43,0,0,26
Italy,24,0,394,21,24,0,30,110,23,147,0,550
Japan,42,51,0,0,23,0,0,0,0,28,0,11
Kenya,0,0,0,0,0,0,0,0,22,0,0,41
South Korea,230,0,0,0,25,0,0,0,0,0,63,139
Kuwait,0,11,0,0,0,0,0,0,0,0,0,0
Malaysia,44,23,0,19,13,0,0,0,13,0,19,13
Mexico,0,0,0,0,0,0,0,0,0,15,0,260
Netherlands,0,14,93,0,56,41,0,16,13,13,76,185
Nigeria,0,0,0,0,13,40,0,0,66,0,10,25
Norway,0,0,0,0,0,0,0,0,0,0,0,23
Other Countries,406,111,61,114,176,261,135,66,249,109,185,472
Pakistan,0,0,0,0,0,0,0,0,66,0,0,0
Philippines,0,0,0,0,0,0,0,0,87,0,120,0
Poland,0,0,0,0,14,0,0,0,0,0,24,50
Portugal,11,0,60,0,15,0,0,17,0,0,0,26
Russia,50,0,0,0,0,0,0,0,0,0,127,0
Saudi Arabia,0,0,0,0,0,0,0,0,18,35,0,0
Singapore,0,0,0,0,52,0,14,0,23,0,21,146
South Africa,0,20,0,0,0,12,0,17,0,0,61,293
Spain,0,69,14,0,32,0,11,42,0,28,0,106
Sri Lanka,84,0,0,70,0,51,0,0,16,0,0,75
Sweden,0,0,0,14,0,0,0,0,0,0,0,66
Switzerland,0,0,0,0,0,0,0,0,0,0,0,44
Syria,0,0,0,0,0,0,0,0,0,0,0,24
Taiwan,59,0,0,16,19,0,0,0,0,92,0,0
Thailand,19,0,0,18,32,0,38,0,0,12,0,184
Turkey,143,0,0,0,17,27,0,0,0,0,0,73
United Arab Emirates,37,37,15,0,0,0,25,0,17,20,21,31
United Kingdom,11,133,192,11,27,58,38,0,0,17,63,293
United States,40,222,375,39,143,26,75,15,62,85,25,366
Vietnam,55,0,0,0,38,35,0,24,22,11,67,0

In [4]:
pd.read_json('./final_datasets/import_commodities_by_sea.json')

,Animal or Vegetable fats and Oil products,Articles of Iron and Steel,"Ores,Slag and ash,Minerals,fuels,mineral oil,Bituminous substance and mineral wax",Organic Chemicals,Plastics and Articles,Pulp of wood or other fibrous cellulose material paper and paper boards,Raw hides and skins,Vehicles other than Railway or tramway parts and Accessories there of
Algeria,0,0,503,0,0,0,0,0
Argentina,240,0,0,0,0,0,65,0
Australia,0,0,616,0,23,0,34,0
Austria,0,0,0,0,0,36,0,0
Belgium,0,38,0,78,0,0,0,0
Belgium,0,0,0,0,83,0,0,0
Canada,0,0,0,0,0,137,0,0
China,0,614,1227,1893,379,269,21,294
Egypt,0,0,0,0,0,0,46,0
Finland,0,0,0,0,0,100,0,0
France,0,287,0,63,26,24,15,86
Germany,0,138,16,254,145,138,24,765
Hong Kong,0,17,0,24,54,25,27,0
Indonesia,1137,69,1253,305,21,283,26,30
Iran,0,0,1104,113,0,0,26,0
Iraq,0,0,9730,0,0,0,0,0
Italy,0,100,0,17,75,58,112,72
Japan,0,219,0,134,81,16,0,264
Kenya,0,0,0,0,0,0,18,0
South Korea,0,292,217,66,199,0,18,1522
Malaysia,87,11,2798,72,70,0,0,0
Mexico,0,0,0,0,21,0,0,0
Netherlands,0,21,0,180,89,28,49,52
Newzealand,0,0,0,0,0,0,59,0
Nigeria,0,0,515,0,0,0,0,0
Other Countries,149,128,5432,86,206,150,254,61
Philipines,0,0,29,0,0,0,0,0
Poland,0,0,0,0,0,0,0,24
Russia,22,0,0,24,0,153,0,54
Saudi Arabia,0,0,10516,65,274,0,91,0
Singapore,138,177,218,181,256,76,0,249
South Africa,0,0,612,0,0,0,0,0
Spain,0,65,0,21,19,0,51,16
Sri Lanka,23,0,0,0,0,0,0,0
Sweden,0,16,0,0,0,80,0,287
Switzerland,0,0,77,72,27,0,17,0
Taiwan,0,50,0,315,255,0,0,14
Thailand,0,0,0,114,180,0,0,95
Turkey,0,0,1310,0,0,0,0,0
United Arab Emirates,0,20,5711,15,90,12,51,0
United Kingdom,0,27,15,57,36,164,21,234
United States,0,77,347,119,168,200,27,85

In [5]:
pd.read_json('./final_datasets/import_commodities_by_air.json')

,"Electrical Machinery,.Equipment,and parts there of sound recorders and reproduces TV image",Natural or Cultural pearl precious or semi precious stones metals and precious metal and articles there.,Organic Chemicals,Pharmaceutical products,"Printed books,Newspapers and Journals","Raw hides,skins and leather"
Australia,0,2251,0,0,0,0
Austria,0,0,71,0,0,10
Belgium,15,35,0,45,0,0
Canada,23,0,0,0,0,0
China,3201,0,402,10,0,0
Denmark,44,0,0,0,0,0
Egypt,0,0,16,0,0,0
Finland,572,0,0,0,0,0
France,141,0,0,0,0,0
Germany,288,33,20,0,0,20
Hong Kong,811,80,25,0,0,0
Indonesia,0,0,0,0,0,19
Israel,203,0,0,0,0,0
Italy,47,0,64,0,0,139
Japan,164,0,31,0,0,0
South Korea,160,91,0,0,0,0
Malaysia,290,0,0,0,0,0
Mexico,121,0,0,0,0,0
Netherlands,98,0,0,0,0,9
Other Countries,226,9,64,44,34,76
Russia,34,0,0,0,0,0
Saudi Arabia,0,98,0,0,0,0
Singapore,769,13,0,0,700,0
South Africa,0,1105,0,0,0,0
Spain,10,0,17,0,0,0
Sweden,368,0,0,0,0,0
Switzerland,25,4390,22,634,0,0
Taiwan,80,0,23,0,0,0
Thailand,24,17,0,0,0,0
Turkey,0,40,0,0,0,0
United Arab Emirates,35,1086,0,0,11,0
United Kingdom,148,190,32,28,13,14
United States,771,216,18,37,27,0

In [15]:
pd.read_json('./datasets/import_and_export_by_cities.json')

,Item,By Sea Chennai (Value Rs. in Crores),By Sea Cuddalore (Value Rs. in Crores),By Sea Thoothukudi (Value Rs. in Crores),By Sea Nagapattinam (Value Rs. in Crores),By Sea Py- 03 Port (Value Rs. in Crores),By Sea Thirukadiyur (Value Rs. in Crores),By Sea Ennore Port (Value Rs. in Crores),By Sea Ennore Minor (Value Rs. in Crores),By Sea Kudankulam (Value Rs. in Crores),Total By Sea (Value Rs. in Crores),By Air Chennai (Value Rs. in Crores),By Air Coimbatore (Value Rs. in Crores),By Air Tiruchirappalli (Value Rs. in Crores),Total By Air (Value Rs. in Crores)
1,Total Exports,42570,NA,39995,342,516,NA,700,NA,NA,84123,7366,272,1,7639

In [16]:
pd.read_json('./datasets/imports_of_commodites_of_cities.json')

,Commodity Group,Value of Imports By Air (Rs. in Crores),Value of Imports By Sea (Rs. in Crores),Total Value of Imports (Rs. in Crores)
1,Chennai Port : Cereals,0,87,87
2,"Chennai Port : Dairy produce eggs,honey and ed...",0,3,3
3,"Chennai Port : Edible fruits and nuts,peel or ...",0,101,101
4,"Chennai Port : Coffee,tea,mate and spices",1,218,219
5,Chennai Port : Sugar and sugar confectionery,1,6,7
6,"Chennai Port : Oil seeds,oleaginous fruits,gra...",9,146,155
7,Chennai Port : Edible vegetables and certain r...,0,1012,1012
8,Chennai Port : Miscellaneous edible preparations,2,20,22
9,"Chennai Port : Salt,Sulpher,earths and stone p...",1,378,379
10,"Chennai Port : Ores,slag and ash,mineral fuels...",0,42246,42246
11,"Chennai Port : In- organic chemicals,organic o...",137,1021,1158
12,Chennai Port : Organic chemicals,805,4268,5073
13,Chennai Port : Pharmaceutical products,798,85,883
14,Chennai Port : Fertilisers,0,750,750
15,"Chennai Port : Tanning or dyeing extract dyes,...",29,510,539
16,"Chennai Port : Essential oils and resinoids,pe...",44,189,233
17,Chennai Port : Soap. Organic surface active ag...,14,230,244
18,Chennai Port : Photographic or Cinematographic...,16,238,254
19,Chennai Port : Miscellaneous chemical products,112,1159,1271
20,Chennai Port : Plastic and articles thereof,109,2777,2886
21,Chennai Port : Rubber and articles thereof,119,1573,1692
22,Chennai Port : Pulp of wood or other fibrous c...,50,2037,2087
23,Chennai Port : Wood and articles of wood/wood ...,1,486,487
24,Chennai Port : Silk,1,1010,1011
25,"Chennai Port : Wool,fine or coarse animal hair...",24,89,113
26,Chennai Port : Man-made filaments,14,206,220
27,Chennai Port : Man-made Stapple fibres,15,151,166
28,"Chennai Port : Other madeup textile articles,s...",1,29,30
29,Chennai Port : Raw hides and skins and leather,287,1052,1339
30,"Chennai Port : Articles of leather,saddlery,tr...",7,74,81
31,Chennai Port : Animal or vegetable fats and oi...,0,1796,1796
32,Chennai Port : Cotton,49,616,665
33,Chennai Port : Printed books newspapers journa...,785,42,827
34,Chennai Port : Ceramic products,37,276,313
35,Chennai Port : Glass and glassware,13,360,373
36,Chennai Port : Natural or cultured pearl preci...,9654,850,10504
37,Chennai Port : Iron and steel,18,5034,5052
38,Chennai Port : Articles of iron and steel,119,2366,2485
39,Chennai Port : Copper and articles thereof,11,372,383
40,Chennai Port : Nickel and articles thereof,16,137,153
41,Chennai Port : Aluminum and articles thereof,8,976,984
42,Chennai Port : Lead and articles thereof,0,1009,1009
43,Chennai Port : Zinc and articles thereof,0,57,57
44,Chennai Port : Tin and articles thereof,1,77,78
45,Chennai Port : Miscellaneous articles of base ...,60,249,309
46,"Chennai Port : Electrical machinery,equipments...",8668,9868,18536
47,Chennai Port : Railway locomotives rolling sto...,1,110,111
48,Chennai Port : Vehicles other than Rly. or tra...,167,4204,4371
49,"Chennai Port : Aircrafts,Spacecrafts and parts...",456,6,462
50,"Chennai Port : Ships,boats floating structures",3,1226,1229
51,Chennai Port : Clocks and watches and parts th...,97,13,110
52,Chennai Port : Others,10507,26718,37225
Total,Chennai Port Total,33267,118513,151780
54,Coimbatore,2465,NA,2465
55,Thoothukkudi,NA,34002,34002
56,Thirukadayur,NA,110,110
57,Ennore Minor Port,NA,64,64
58,PY 03 port,NA,1740,1740
59,Ennore Port (Government of India undertaking),NA,1740,1740

In [17]:
pd.read_json('./datasets/net_import_and_exports_for_tamil_nadu.json')

,Description,Value of Foreign Trade Tamil Nadu (Rs.in Crores),Value of Foreign Trade All India* (Rs.in Crores),Percentage share of Foreign Trade through Tamil Nadu Ports to All India
1,Exports By Sea,84123,NA,NA
2,Exports By Air,7639,NA,NA
3,Total Exports,91762,655864,13.99
4,Imports By Sea,154429,NA,NA
5,Imports By Air,35732,NA,NA
6,Total Imports,190161,1012312,18.78

In [19]:
pd.read_json('./datasets/yearwise_import_export.json')

      Years  Exports Value (Rs. in Crores)  Imports Value  (Rs. in Crores)
1   1991-92                        5389.88                         5359.21
2   1992-93                        6884.23                         7310.65
3   1993-94                        9085.80                         8111.80
4   1994-95                       12460.09                        12541.53
5   1995-96                       15832.83                        17416.72
6   1996-97                       17596.27                        14966.54
7   1997-98                       16529.64                        36877.89
8   1998-99                       18771.28                        23482.90
9   1999-00                       26983.75                        25600.16
10  2000-01                       11736.96                        18821.37
11  2001-02                       12631.24                        18628.05
12  2002-03                       25039.00                        35697.00
13  2003-04                       33068.00                        43798.00
14  2004-05                       34782.00                        78740.00
15  2005-06                       51298.00                       112983.00
16  2006-07                       67759.00                       159035.00