In [2]:
import pandas as pd

In [3]:
export_commodities_by_air = pd.read_json('ea.json')
export_commodities_by_sea = pd.read_json('es.json')
import_commodities_by_sea = pd.read_json('is.json')
import_commodities_by_air = pd.read_json('ia.json')

In [31]:
export_commodities_by_air.drop(['Latitude', 'Longitude'], axis=1, inplace=True)
export_commodities_by_sea.drop(['Latitude', 'Longitude'], axis=1, inplace=True)
import_commodities_by_sea.drop(['Latitude', 'Longitude'], axis=1, inplace=True)
import_commodities_by_air.drop(['Latitude', 'Longitude'], axis=1, inplace=True)

In [32]:
summed_ea = export_commodities_by_air.groupby('Cluster Labels').sum()
list_ea = export_commodities_by_air.groupby('Cluster Labels').apply(lambda x: ', '.join(x.index.tolist()))
ea_desc = summed_ea.merge(list_ea.rename('Countries'), left_index=True, right_index=True)

In [33]:
summed_es = export_commodities_by_sea.groupby('Cluster Labels').sum()
list_es = export_commodities_by_sea.groupby('Cluster Labels').apply(lambda x: ', '.join(x.index.tolist()))
es_desc = summed_es.merge(list_es.rename('Countries'), left_index=True, right_index=True)

In [34]:
summed_is = import_commodities_by_sea.groupby('Cluster Labels').sum()
list_is = import_commodities_by_sea.groupby('Cluster Labels').apply(lambda x: ', '.join(x.index.tolist()))
is_desc = summed_is.merge(list_is.rename('Countries'), left_index=True, right_index=True)

In [35]:
summed_ia = import_commodities_by_air.groupby('Cluster Labels').sum()
list_ia = import_commodities_by_air.groupby('Cluster Labels').apply(lambda x: ', '.join(x.index.tolist()))
ia_desc = summed_ia.merge(list_ia.rename('Countries'), left_index=True, right_index=True)

In [36]:
ea_desc

,"Essential oils and resinoids,perfumery","Fish and Crustaceans,Mollassesand other Aquatic invertebrates","Footwear,Guiters and Parts of such articles",Organic Chemicals,"Other made up textiles articles sets worn clothing,worn textiles articles",Pharmaceutical Products,"Raw Hides,Skins and leather","Vehicles other than Tramway,rolling stock and parts and accessories thereof",Countries
Cluster Labels,,,,,,,,,
0,0,0,47,53,36,179,10,16,United States
1,0,0,228,15,0,5,39,0,Italy
2,0,0,241,0,0,0,13,0,"Austria, Hungary, Portugal, Spain, Switzerland..."
3,0,20,0,0,0,0,364,0,Hong Kong
4,0,0,228,10,16,0,8,6,"France, United Kingdom"
5,0,36,24,55,5,0,17,0,"Finland, Indonesia, Japan, Netherlands, Singap..."
6,0,0,161,31,6,15,42,9,Germany
7,54,0,0,73,0,5,74,0,"China, South Korea"

In [37]:
es_desc

,Cotton,"Fish and Crustaceans,Molasses and other Acquatic invertibrates","Footwear,guiter and parts of such articles",Iron and Steel,Organic Chemicals,Pharmaceutical Products,Plastic and Articles there of,"Raw hides,skins and leather",Rubber and articles there of,"Salt,Sulphur,Plastering Materials,Lime and Cement",Tobacco and manufactured tobacco substitutes,"Vehicles other than Railway,Tramway,Rolling Stock and parts and accessories there of",Countries
Cluster Labels,,,,,,,,,,,,,
0,230,0,0,0,25,0,0,0,0,0,63,139,South Korea
1,33,108,163,32,184,41,63,80,56,53,160,1009,"Argentina, Egypt, France, Netherlands, Singapo..."
2,40,222,375,39,143,26,75,15,62,85,25,366,United States
3,119,21,13,0,95,198,13,24,217,11,380,55,"Australia, Brazil, Nigeria, Philippines, Russi..."
4,25,186,447,11,71,74,38,31,12,33,178,517,"Germany, United Kingdom"
5,121,0,0,12,13,0,14,13,0,341,0,21,China
6,24,0,394,21,24,0,30,110,23,147,0,550,Italy
7,13,20,0,0,13,12,0,17,0,15,61,1418,"Algeria, Colombia, Greece, Mexico, South Africa"
8,0,153,25,0,13,0,12,0,0,24,256,63,Belgium
9,25,0,13,0,29,0,16,220,0,112,0,0,Hong Kong
10,237,197,87,102,132,0,74,17,197,188,90,537,"Austria, Bahrain, Canada, Denmark, Finland, In..."
11,227,0,0,70,17,78,0,0,16,0,0,148,"Sri Lanka, Turkey"

In [38]:
is_desc

,Animal or Vegetable fats and Oil products,Articles of Iron and Steel,"Ores,Slag and ash,Minerals,fuels,mineral oil,Bituminous substance and mineral wax",Organic Chemicals,Plastics and Articles,Pulp of wood or other fibrous cellulose material paper and paper boards,Raw hides and skins,Vehicles other than Railway or tramway parts and Accessories there of,Countries
Cluster Labels,,,,,,,,,
0,0,0,10516,65,274,0,91,0,Saudi Arabia
1,285,571,92,650,527,805,421,920,"Argentina, Austria, Belgium, Canada, Egypt, Fi..."
2,0,20,5711,15,90,12,51,0,United Arab Emirates
3,0,0,2246,0,23,0,34,0,"Algeria, Australia, Nigeria, South Africa"
4,1137,69,1253,305,21,283,26,30,Indonesia
5,87,11,2798,72,70,0,0,0,Malaysia
6,0,614,1227,1893,379,269,21,294,China
7,0,292,217,66,199,0,18,1522,South Korea
8,138,523,565,749,760,292,27,612,"Japan, Singapore, Taiwan, United States"
9,0,0,2414,113,0,0,26,0,"Iran, Turkey"
10,0,0,9730,0,0,0,0,0,Iraq
11,0,138,16,254,145,138,24,765,Germany

In [39]:
ia_desc

,"Electrical Machinery,.Equipment,and parts there of sound recorders and reproduces TV image",Natural or Cultural pearl precious or semi precious stones metals and precious metal and articles there.,Organic Chemicals,Pharmaceutical products,"Printed books,Newspapers and Journals","Raw hides,skins and leather",Countries
Cluster Labels,,,,,,,
0,0,2251,0,0,0,0,Australia
1,3201,0,402,10,0,0,China
2,1035,281,63,28,13,23,"France, Israel, Japan, South Korea, Mexico, Ne..."
3,1582,296,43,37,27,0,"Hong Kong, United States"
4,769,13,0,0,700,0,Singapore
5,1518,33,20,0,0,20,"Finland, Germany, Malaysia, Sweden"
6,25,4390,22,634,0,0,Switzerland
7,277,190,191,45,0,168,"Austria, Belgium, Canada, Denmark, Egypt, Indo..."
8,35,1086,0,0,11,0,United Arab Emirates

## Summing Columns now

In [40]:
ea_desc.sum(axis=1, numeric_only=True)
# es_desc
# is_desc
# ia_desc

Cluster Labels
0    341
1    287
2    254
3    384
4    268
5    137
6    264
7    206
dtype: int64

In [41]:
es_desc.sum(axis=1, numeric_only=True)

Cluster Labels
0      457
1     1982
2     1473
3     1146
4     1623
5      535
6     1323
7     1569
8      546
9      415
10    1858
11     556
dtype: int64

In [42]:
is_desc.sum(axis=1, numeric_only=True)

Cluster Labels
0     10946
1      4271
2      5899
3      2303
4      3124
5      3038
6      4697
7      2314
8      3666
9      2553
10     9730
11     1480
dtype: int64

In [43]:
ia_desc.sum(axis=1, numeric_only=True)

Cluster Labels
0    2251
1    3613
2    1443
3    1985
4    1482
5    1591
6    5071
7     871
8    1132
dtype: int64

In [14]:
export_commodities_by_sea

,Cotton,"Fish and Crustaceans,Molasses and other Acquatic invertibrates","Footwear,guiter and parts of such articles",Iron and Steel,Organic Chemicals,Pharmaceutical Products,Plastic and Articles there of,"Raw hides,skins and leather",Rubber and articles there of,"Salt,Sulphur,Plastering Materials,Lime and Cement",Tobacco and manufactured tobacco substitutes,"Vehicles other than Railway,Tramway,Rolling Stock and parts and accessories there of",Latitude,Longitude,Cluster Labels
Algeria,0,0,0,0,0,0,0,0,0,0,0,386,28.033886,1.659626,7
Argentina,0,0,0,0,12,0,0,0,0,0,0,120,-38.416097,-63.616672,1
Australia,0,21,13,0,0,51,13,0,32,0,40,30,-25.274398,133.775136,3
Austria,0,0,0,0,0,0,0,0,0,0,0,64,47.516231,14.550072,10
Bahrain,26,0,0,0,0,0,0,0,0,0,0,0,25.930414,50.637772,10
Belgium,0,153,25,0,13,0,12,0,0,24,256,63,50.503887,4.469936,8
Brazil,14,0,0,0,44,72,0,0,10,0,16,0,-14.235004,-51.925280,3
Canada,0,75,12,0,11,0,0,0,0,13,0,0,56.130366,-106.346771,10
China,121,0,0,12,13,0,14,13,0,341,0,21,35.861660,104.195397,5
Colombia,13,0,0,0,13,0,0,0,0,0,0,251,4.570868,-74.297333,7
Denmark,0,0,0,0,0,0,35,0,0,0,0,46,56.263920,9.501785,10
Egypt,14,0,0,0,0,0,0,0,20,0,42,140,26.820553,30.802498,1
Finland,0,0,0,0,0,0,0,0,0,0,0,49,61.924110,25.748151,10
France,0,25,56,14,0,0,0,22,0,0,21,128,46.227638,2.213749,1
Germany,14,53,255,0,44,16,0,31,12,16,115,224,51.165691,10.451526,4
Greece,0,0,0,0,0,0,0,0,0,0,0,228,39.074208,21.824312,7
Hong Kong,25,0,13,0,29,0,16,220,0,112,0,0,22.396428,114.109497,9
Indonesia,18,0,0,53,25,0,0,0,18,0,26,23,-0.789275,113.921327,10
Iran,0,0,0,0,12,0,14,0,43,0,0,26,32.427908,53.688046,10
Italy,24,0,394,21,24,0,30,110,23,147,0,550,41.871940,12.567380,6
Japan,42,51,0,0,23,0,0,0,0,28,0,11,36.204824,138.252924,10
Kenya,0,0,0,0,0,0,0,0,22,0,0,41,-0.023559,37.906193,10
South Korea,230,0,0,0,25,0,0,0,0,0,63,139,35.907757,127.766922,0
Kuwait,0,11,0,0,0,0,0,0,0,0,0,0,29.311660,47.481766,10
Malaysia,44,23,0,19,13,0,0,0,13,0,19,13,4.210484,101.975766,10
Mexico,0,0,0,0,0,0,0,0,0,15,0,260,23.634501,-102.552784,7
Netherlands,0,14,93,0,56,41,0,16,13,13,76,185,52.132633,5.291266,1
Nigeria,0,0,0,0,13,40,0,0,66,0,10,25,9.081999,8.675277,3
Norway,0,0,0,0,0,0,0,0,0,0,0,23,60.472024,8.468946,10
Pakistan,0,0,0,0,0,0,0,0,66,0,0,0,30.375321,69.345116,10
Philippines,0,0,0,0,0,0,0,0,87,0,120,0,12.879721,121.774017,3
Poland,0,0,0,0,14,0,0,0,0,0,24,50,51.919438,19.145136,10
Portugal,11,0,60,0,15,0,0,17,0,0,0,26,39.399872,-8.224454,10
Russia,50,0,0,0,0,0,0,0,0,0,127,0,61.524010,105.318756,3
Saudi Arabia,0,0,0,0,0,0,0,0,18,35,0,0,23.885942,45.079162,10
Singapore,0,0,0,0,52,0,14,0,23,0,21,146,1.352083,103.819836,1
South Africa,0,20,0,0,0,12,0,17,0,0,61,293,-30.559482,22.937506,7
Spain,0,69,14,0,32,0,11,42,0,28,0,106,40.463667,-3.749220,1
Sri Lanka,84,0,0,70,0,51,0,0,16,0,0,75,7.873054,80.771797,11
Sweden,0,0,0,14,0,0,0,0,0,0,0,66,60.128161,18.643501,10
Switzerland,0,0,0,0,0,0,0,0,0,0,0,44,46.818188,8.227512,10
Syria,0,0,0,0,0,0,0,0,0,0,0,24,34.802075,38.996815,10
Taiwan,59,0,0,16,19,0,0,0,0,92,0,0,23.697810,120.960515,10
Thailand,19,0,0,18,32,0,38,0,0,12,0,184,15.870032,100.992541,1
Turkey,143,0,0,0,17,27,0,0,0,0,0,73,38.963745,35.243322,11
United Arab Emirates,37,37,15,0,0,0,25,0,17,20,21,31,23.424076,53.847818,10
United Kingdom,11,133,192,11,27,58,38,0,0,17,63,293,55.378051,-3.435973,4
United States,40,222,375,39,143,26,75,15,62,85,25,366,37.090240,-95.712891,2
Vietnam,55,0,0,0,38,35,0,24,22,11,67,0,14.058324,108.277199,3

In [24]:
export_commodities_by_sea.loc['Saudi Arabia']

Cotton                                                                                   0.000000
Fish and Crustaceans,Molasses and other Acquatic invertibrates                           0.000000
Footwear,guiter and parts of such articles                                               0.000000
Iron and Steel                                                                           0.000000
Organic Chemicals                                                                        0.000000
Pharmaceutical Products                                                                  0.000000
Plastic and Articles there of                                                            0.000000
Raw hides,skins and leather                                                              0.000000
Rubber and articles there of                                                            18.000000
Salt,Sulphur,Plastering Materials,Lime and Cement                                       35.000000
Tobacco and manufactured tobacco substitutes                                             0.000000
Vehicles other than Railway,Tramway,Rolling Stock and parts and accessories there of     0.000000
Latitude                                                                                23.885942
Longitude                                                                               45.079162
Cluster Labels                                                                          10.000000
Name: Saudi Arabia, dtype: float64